nav {
    padding-left: 200px;
    position: sticky !important;
    top: 0;
    z-index: 99;
}

.navbar li {
    font-size: 25px;
    margin-right: 25px;
}

.header-text {
    font-size: 30px;
}

.nav {
    margin-left: 730px;
}

#first {
    background: url(../img/hero-bg.svg);
    background-repeat: no-repeat;
    height: 800px;
}

.first-text {
    font-size: 55px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width: 600px;
    margin-top: 200px;
}

.first-p {
    font-size: 18px;
    width: 450px;
    text-align: justify;
    color: white;
}

.get {
    border-radius: 25px;
    transition: 1s;
}

.get:hover {
    opacity: 1.2;
}

.cards {
    margin-right: 150px;
    text-align: center;
    border: none;
}

.cards .icon {
    margin-top: 25px;
    font-size: 55px;
    color: rgb(13, 93, 199);
}

#features {
    margin-top: 200px;
}

.perfect-img-box {
    background: url(../img/about-left-shape.svg);
    background-size: 400px;
    background-repeat: no-repeat;
    height: 700px;
    padding-top: 100px;
    position: relative;
}

.img-card {
    margin-top: 210px;
    margin-left: 210px;
}

.img-dot {
    position: absolute;
    left: 60px;
    top: 20px;
}

#perfect {
    margin-top: 100px;
}

.Solution {
    margin-top: 100px;
    margin-left: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.Solution h1 {
    font-size: 30px;
}

.Solution p {
    font-size: 16px;
    color: gray;
}

.discover-btn {
    border-radius: 30px;
    width: 200px;
    height: 60px;
}

.awesome-img-box {
    background: url(../img/about-right-shape.svg);
    background-size: 400px;
    background-repeat: no-repeat;
    height: 700px;
    padding-top: 100px;
    position: relative;
}

.awesome-img-card {
    margin-top: 210px;
    margin-left: 260px;
}

.awesome-img-dot {
    position: absolute;
    left: 60px;
    top: 20px;
}

#awesome .lists {
    margin-left: 50px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.learn {
    border-radius: 30px;
    width: 200px;
    height: 60px;
    margin-left: 50px;
}

#Choose {
    margin-top: 50px;
    background-color: rgb(195, 225, 236);
}

#Choose .desc {
    margin-left: 450px;
    margin-bottom: 100px;
    margin-top: 80px;
}

#Choose .desc h1 {
    color: rgb(39, 39, 39);
}

#Choose .desc p {
    width: 350px;
    text-align: center;
    color: grey;
    font-size: 18px;
}

#Choose .choose-card {
    margin-left: 90px;
    margin-bottom: 50px;
    border: 0;
    background: transparent;
}

#Choose .icon-awesome {
    font-size: 50px;
}

#Choose .card-body .card-text {
    width: 350px;
    text-align: justify;
}

#slider {
    margin-top: 100px;
}

@media (max-width:765px) {
    #features {
        margin-top: 350px;
    }
    #features .cards {
        margin-left: 150px;
        margin-top: 250px;
    }
    #first .container .row {
        flex-direction: column;
    }
    #first .container .row div:first-child {
        margin-bottom: 250px;
    }
    #first .container .row div:last-child img {
        width: 700px;
        height: 500px;
        margin-left: -60px;
    }
    #features .cards {
        margin-left: 150px;
        margin-top: 250px;
    }
    #Choose .desc h1 {
        margin-left: -320px;
    }
    #Choose .desc p {
        margin-left: -340px;
    }
}